In [22]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [23]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [24]:
RANDOM_SEED = 42

In [25]:
mapa = {
    'home': 'principal',
    'how_it_works': 'como_funciona',
    'contact': 'contato',
    'bought': 'comprou'
}
dados = dados.rename(columns=mapa)

In [26]:
dados.head(10)

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0
5          1              0        1        1
6          1              1        0        0
7          1              0        1        1
8          1              1        0        0
9          1              0        1        1

In [27]:
X = dados[dados.columns[:-1]] # todas exceto 'comprou'
y = dados[dados.columns[-1:]] # apenas 'comprou'

In [28]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC

In [29]:
treino_X, teste_X, treino_y, teste_y = train_test_split(X, y, 
                                                        train_size = 0.8, 
                                                        random_state = RANDOM_SEED,
                                                        stratify = y)

In [30]:
treino_X.shape

(79, 3)

In [31]:
teste_X.shape

(20, 3)

In [32]:
treino_y.value_counts()

comprou
0          53
1          26
dtype: int64

In [33]:
teste_y.value_counts()

comprou
0          13
1           7
dtype: int64

In [34]:
modelo = LinearSVC()
modelo.fit(treino_X, pd.Series.ravel(treino_y))

LinearSVC()

In [35]:
predicao_y = modelo.predict(teste_X)

In [36]:
acuracia = accuracy_score(teste_y, predicao_y)
print(f'Acurácia = {acuracia * 100:.2f}%')

Acurácia = 95.00%